@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test MVC <br />  <br />  </h1>
    <h3>Model  View  Controller</h3>

    <br />

    <!-- Button for /Test/Greetings -->
    <form action="/Test/Greetings" method="get">
        <input type="text" name="name" />
        <button type="submit">Greetings</button>
    </form>
    <br />

    <!-- Button for /Test/GetInfo -->
    <form action="/Test/GetInfo" method="get">
        <button type="submit">Get Info</button>
    </form>

    <br />

    <!-- Button for /Test/getstringasjson -->
    <form action="/Test/getstringasjson" method="get">
        <button type="submit">String Operations</button>
    </form>

    <br />

    <!-- Button for /Test/loop operation -->
    <form action="/Test/loopoperation" method="get">
        <button type="submit">Loop Operations</button>
    </form>

    <br />

    <!-- Button for /Test/Airthmatic_Operation -->
    <form action="/Test/Airthmatic_Operation" method="get">
        <button type="submit">Airthmatic Operations</button>
    </form>

    <br />

    <!-- Button for /Test/current Time & Date   -->
    <form action="/Test/current" method="get">
        <button type="submit">Date & Time</button>
    </form>

    <br />

    <!-- Button for /Test/getrandomnumbers  -->
    <form action="/Test/getrandomnumbers" method="get">
        <button type="submit">Get Random Numbers</button>
    </form>

    <br />
 
   
</div>




